table {
    font-size: .9em;
}

.team-and-score {
    display: flex;
    justify-content: space-between;
}

.team-stats h1 {
    font-size: 2em;
    display: inline;
}

.th-player {
    min-width: 100px;
}

/*
.form-team .btn {
    margin: 2px;
} */